In [9]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import joblib

In [2]:
dic={'very poor':0,'poor':1,'average':2,'good':3,'very good':4}

In [3]:
data=pd.read_excel("std_details_s.xlsx")

In [4]:
# data['status'].unique()
data['status']=data['status'].replace('very poor','0')
data['status']=data['status'].replace('poor','1')
data['status']=data['status'].replace('average','2')
data['status']=data['status'].replace('good','3')
data['status']=data['status'].replace('very good','4')
data['status']=data['status'].astype(float)
data['marks']=data['marks'].astype(float)

In [5]:
x=data['marks']
y=data['status']
xtrain,xtest,ytrain,ytest=train_test_split(x,y)
xtrain=np.array(xtrain).reshape(-1,1)
ytrain=np.array(ytrain).reshape(-1,1)

In [11]:
log=LogisticRegression()
log.fit(xtrain,ytrain)
f_name="analysis_d.sav"
joblib.dump(log,f_name)

/Users/manikantamsadam/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

['analysis_d.sav']

In [7]:
res=np.array(xtest).reshape(-1,1)
print(log.predict(res))
print(ytest)

[2. 0. 3.]
3    2.0
4    1.0
9    3.0
Name: status, dtype: float64

In [8]:
data

,course_name,course_id,attempted_id,cand_name,cand_email,marks,grade,status
0,chem,A6025,90,20881A0562,dskjc@kjdsnc.cd,100.0,A+,4.0
1,ml,A5720,456,20881A0593,dsjb@jdkfn.c,99.0,A,4.0
2,physics,A5645,4556,20881A05B1,fsv@d.j,0.0,F,0.0
3,ml,A5720,234,20881A05B1,fsv@d.j,50.0,B,2.0
4,chem,A6025,65,20881A05B1,fsv@d.j,34.0,C,1.0
5,physics,A5645,4556,20881A0562,dskjc@kjdsnc.cd,45.0,B,2.0
6,physics,A5645,23,20881A05B5,ekjwf@kjn.cd,67.0,B+,3.0
7,ml,A5720,456,20881A05C1,jkvs@fdkv.dsf,23.0,F,0.0
8,ml,A5720,435,20881A0545,dfg@f.ef,94.0,A+,4.0
9,chem,A6025,435,20881A05B2,gfsd@ds.d,75.0,A,3.0

In [12]:
analys=joblib.load("analysis_d.sav")

In [13]:
analys.predict(res)

array([2., 0., 3.])

In [25]:
for i in dic.values():
    print(i)
for i in dic.keys():
    print(i)

0
1
2
3
4
very poor
poor
average
good
very good

In [28]:
for i in dic:
    print(i,dic[i])

very poor 0
poor 1
average 2
good 3
very good 4